@import url('https://fonts.googleapis.com/css?family=Roboto');

body {
  font-family: 'Roboto', sans-sans-serif;
  font-size: 18px;
}

.navbar-brand .navbar-item h1 {
  padding-left: .5rem;
}

a.navbar-item:hover h1 {
    color: #FFF;
}

#brand-logo {
  background-image: url('../assets/images/logo.svg');
  height: 35px;
  width: 35px;
}

.is-obsolete {
  background-color: rgba(255, 0, 0, 0);
}
a.navbar-item {
  color: #FFF;
}

a.navbar-item:hover {
  color: #6200EA;
}

.needs-air {
  padding-top: 70px;
}

.is-purple {
  background-color: #651FFF;
}

.is-grape {
  background-color: #ff3860;
}

footer {
  margin-top: 50px;
}
