/* Global Rules */
@import url('https://fonts.googleapis.com/css?family=Roboto');

body {
  font-family: 'Roboto', sans-sans-serif;
  font-size: 18px;
}

a {
  color: #363636;
}

.columns {
  max-width: 100%;
}

.needs-air {
  padding-top: 70px;
}

.is-purple {
  background-color: #663399;
}

.is-grape {
  background-color: #ff3860;
}

.is-darkish {
  background-color: #383639;
}

/* Navbar */

.navbar {
  box-shadow: 0 1px 5px rgba(0,0,0,0.3);
}

.navbar-brand .navbar-item h1 {
  padding-left: .5rem;
}

a.navbar-item:hover h1 {
    color: #FFF;
}

#brand-logo {
  background-image: url('../assets/images/logo.svg');
  height: 35px;
  width: 35px;
}

.is-obsolete {
  background-color: rgba(255, 0, 0, 0);
}

a.navbar-item {
  color: #FFF;
}

a.navbar-item:hover {
  color: #FFF;
}

.navbar-burger {
  border: none;
}

.navbar-burger span {
  height: 2px;
  width: 20px;
  color: white;
}

a.navbar-item:hover {
  background-color: #663399;
  color: #e6e6e696;
}

/* Header/Hero */

#me {
  background: linear-gradient(
      rgba(102, 51, 153, 0.90),
      rgba(102, 51, 153, 0.90)
    ), url('https://images.pexels.com/photos/745408/pexels-photo-745408.jpeg?w=1260&h=750&auto=compress&cs=tinysrgb') center no-repeat;
  background-size: cover;
}

#heroText {
  margin-top: 20px;
}

#heroText div {
  max-width: 15%;
  margin: 0;
}

#mePic {
  border-radius: 50rem;
  height: 18rem;
}

@-webkit-keyframes ani-mouse {
	0% {
	opacity: 1;
	top: 29%;
	}
	15% {
	opacity: 1;
	top: 50%;
	}
	50% {
	opacity: 0;
	top: 50%;
	}
	100% {
	opacity: 0;
	top: 29%;
	}
}
@-moz-keyframes ani-mouse {
	0% {
	opacity: 1;
	top: 29%;
	}
	15% {
	opacity: 1;
	top: 50%;
	}
	50% {
	opacity: 0;
	top: 50%;
	}
	100% {
	opacity: 0;
	top: 29%;
	}
}
@keyframes ani-mouse {
	0% {
	opacity: 1;
	top: 29%;
	}
	15% {
	opacity: 1;
	top: 50%;
	}
	50% {
	opacity: 0;
	top: 50%;
	}
	100% {
	opacity: 0;
	top: 29%;
	}
}

 .scroll-btn {
	display: block;
	position: absolute;
	left: 0;
	right: 0;
  bottom: 0;
	text-align: center;
}

.scroll-btn > * {
	display: inline-block;
	line-height: 18px;
	font-size: 13px;
	font-weight: normal;
	color: #7f8c8d;
	color: #ffffff;
	font-family: "proxima-nova", "Helvetica Neue", Helvetica, Arial, sans-serif;
	letter-spacing: 2px;
}

.scroll-btn > *:hover,
.scroll-btn > *:focus,
.scroll-btn > *.active {
	color: #ffffff;
}

.scroll-btn > *:hover,
.scroll-btn > *:focus,
.scroll-btn > *:active,
.scroll-btn > *.active {
	opacity: 0.8;
	filter: alpha(opacity=80);
}

.scroll-btn .mouse {
	position: relative;
	display: block;
	width: 35px;
	height: 55px;
	margin: 0 auto 20px;
	-webkit-box-sizing: border-box;
	-moz-box-sizing: border-box;
	box-sizing: border-box;
	border: 3px solid white;
	border-radius: 23px;
}

.scroll-btn .mouse > * {
	position: absolute;
	display: block;
	top: 29%;
	left: 50%;
	width: 8px;
	height: 8px;
	margin: -4px 0 0 -4px;
	background: white;
	border-radius: 50%;
	-webkit-animation: ani-mouse 2.5s linear infinite;
	-moz-animation: ani-mouse 2.5s linear infinite;
	animation: ani-mouse 2.5s linear infinite;
}

/* Project Container */

#exam {
  background: url('https://i.imgur.com/97aKVZQ.jpg') center no-repeat;
  object-fit: cover;
  height: 20rem;
  border: none;
  background-size: 25rem;
}

#exam p:first-child {
  color: #363636 !important;
}

#brand {
  height: 20rem;
  border: none;
  background-color: #383639;
}

#brand div {
  background: url('../assets/images/logo.svg') center no-repeat;
  width: 150px;
  height: 150px;
  margin: 0 auto;
}

#misc {
  background: url('https://images.pexels.com/photos/326424/pexels-photo-326424.jpeg?w=1260&h=750&auto=compress&cs=tinysrgb') center no-repeat;
  filter: grayscale(80%);
  height: 20rem;
  border: none;
}

#ui {
  background: url('https://images.pexels.com/photos/273230/pexels-photo-273230.jpeg?w=1260&h=750&auto=compress&cs=tinysrgb') center no-repeat;
  filter: grayscale(80%);
  min-height: 20rem;
  border: none;
}

#lions {
  background: url('https://images.pexels.com/photos/258160/pexels-photo-258160.jpeg?w=1260&h=750&auto=compress&cs=tinysrgb') center no-repeat;
  filter: grayscale(80%);
  min-height: 20rem;
  border: none;
}

/* Markdown Posts */

.tile .is-child:hover {
  box-shadow: 2px 2px 10px rgba(10, 10, 10, .4);
}

.blog-post-content img {
  display: block;
  margin-left: auto;
  margin-right: auto;
  box-shadow: 0 2px 20px rgba(10, 10, 10, .1);
  max-width: 700px;
  position: relative;
}

.blog-post {
  max-width: 750px;
  margin-left: auto;
  margin-right: auto;
  width: 95%;
}

/* About Me page */

#cv {
  position: absolute;
  bottom: 1rem;
  right: 1rem;
}

#cv:hover {
  box-shadow: 2px 3px 15px rgba(0, 0, 0, 0.2);
}

#bulma-lg {
  width: 52px;
  height: 52px;
}

#aboutMe {
  background: url('https://i.imgur.com/rrXgMvE.jpg') center no-repeat;
  filter: grayscale(80%);
  min-height: 15rem;
  background-size: cover;
  background-position-y: 45%;
}

#aboutMe {
  box-shadow: 0 0 0 rgba(0, 0, 0, 0.0);
}

#aboutIllu {
  background: url('../assets/images/illustration.svg') center no-repeat;
  height: 30rem;
  margin: 0 auto;
  max-width: 75%;
}

#meContent {
  padding-top: 70px;
  margin: 0 auto;
  width: 90%
}

.text-child-bottom {
  position: relative;
}

.text-is-bottom {
  position: absolute;
  bottom: 1rem;
}

/* Contact Page */

#contactPar {
  background: url('../assets/images/particles.svg') center no-repeat;
  background-size: 70rem 50rem;
}

#placeholder1 {
  background: url('../assets/images/particles.svg') center no-repeat;
  background-color: #663399;
}

#placeholder2 {
  background: url('../assets/images/particles.svg') center no-repeat;
  background-color: #663399;
}

#placeholder3 {
  background: url('../assets/images/particles.svg') center no-repeat;
  background-color: #663399;
}

/* Footer Content */

footer {
  margin-top: 50px;
}

footer .level-item:last-child {
  padding-top: 5px;
}

/* Media Queries */

@media (max-width: 1025px) {
  #me div img {
    margin: 0 auto;
  }

  #heroText {
    margin-top: 20px;
    text-align: center;
  }

  #heroText div {
    margin: 0 auto;
  }
}

@media (max-width: 769px) {
  .column {
    display: inline;
  }

  .content pre {
    white-space: unset;
    word-wrap: break-word;
    text-align: justify;
  }

  #aboutIllu {
    height: 15rem;
  }

  #heroText div {
    display: none;
  }
}

@media (max-width: 500px) {
  .file-icon {
    margin-right: 0;
  }
  .file-label {
    display: none;
  }
  #aboutMe span p {
    color: #FFF !important;
  }
}

@media (max-height: 620px) {
  .scroll-btn {
    display: none;
  }
}
